### See https://help.github.com/articles/ignoring-files/ for more about ignoring files. ###

### dependencies ###
node_modules/
.pnp
.pnp.js

### testing ###
coverage/

### production ###
dist/

### package managers ###
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npmrc

# sqlite
*.sqlite

### misc ###
.DS_Store
.parcel-cache
haters
.vscode
.cache
# UNCOMMENT THIS LINE 👇
# .env
# UNCOMMENT THIS LINE 👆
